.boxes-container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    gap: 0;
    padding: 0px;
    margin: 0;
    max-width: 200px;
    max-height: 240px;
    margin: auto;
    margin-bottom: 80px;
    border: none;
}

.box-item {
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: 40px;
    border: none;
    margin: 2px
  }
